$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2024/04/config/document.json
resources:
  - name: Install Windows Subsystem for Linux
    type: Microsoft.WinGet.DSC/WinGetPackage
    properties:
      id: Microsoft.WSL
      source: winget

  - name: Install Ubuntu Linux Distribution
    type: Microsoft.WinGet.DSC/WinGetPackage
    dependsOn:
      - "[Microsoft.WinGet.DSC/WinGetPackage]Install Windows Subsystem for Linux"
    properties:
      id: Canonical.Ubuntu
      source: winget

  - name: Install Visual Studio Code
    type: Microsoft.WinGet.DSC/WinGetPackage
    properties:
      id: Microsoft.VisualStudioCode
      source: winget

  - name: Install Google Drive
    type: Microsoft.WinGet.DSC/WinGetPackage
    properties:
      id: Google.GoogleDrive
      source: winget

  - name: Install Google Antigravity
    type: Microsoft.WinGet.DSC/WinGetPackage
    properties:
      id: Google.Antigravity
      source: winget

  - name: Install Windows Terminal
    type: Microsoft.WinGet.DSC/WinGetPackage
    properties:
      id: Microsoft.WindowsTerminal
      source: winget

  - name: Manage Global WSL Settings (.wslconfig)
    type: PSDscResources/File
    properties:
      DestinationPath: C:\Users\jjr\.wslconfig
      Contents: |
        [wsl2]
        memory=8GB
        processors=4
        localhostForwarding=true
      Ensure: Present
