# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
properties:
  configurationVersion: 0.2.0

resources:
  - resource: Microsoft.WinGet.DSC/WinGetPackage
    id: wsl
    directives:
      description: Install Windows Subsystem for Linux
    settings:
      id: Microsoft.WSL
      source: winget

  - resource: Microsoft.WinGet.DSC/WinGetPackage
    id: vscode
    directives:
      description: Install Visual Studio Code
    settings:
      id: Microsoft.VisualStudioCode
      source: winget

  - resource: Microsoft.WinGet.DSC/WinGetPackage
    id: googledrive
    directives:
      description: Install Google Drive
    settings:
      id: Google.GoogleDrive
      source: winget

  - resource: Microsoft.WinGet.DSC/WinGetPackage
    id: google-antigravity
    directives:
      description: Install Google Antigravity
    settings:
      id: Google.Antigravity
      source: winget

  - resource: Microsoft.WinGet.DSC/WinGetPackage
    id: windows-terminal
    directives:
      description: Install Windows Terminal
    settings:
      id: Microsoft.WindowsTerminal
      source: winget
