$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2023/08/config/document.json
metadata:
  winget:
    processor:
      identifier: "dscv3"
resources:
  - name: Install Windows Subsystem for Linux
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Microsoft.WSL
      source: winget

  - name: Install Ubuntu Linux Distribution
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    dependsOn:
      - "Install Windows Subsystem for Linux"
    properties:
      id: Canonical.Ubuntu
      source: winget

  - name: Initialize WSL Environment
    type: Microsoft.DSC.Transitional/RunCommandOnSet
    module: Microsoft.DSC.Transitional
    dependsOn:
      - "Install Ubuntu Linux Distribution"
    properties:
      executable: wsl
      arguments:
        - -u
        - root
        - -e
        - pwsh
        - -File
        - "{{REPO_ROOT_WSL}}/Invoke-WslBootstrap.ps1"
        - -RepoPath
        - "{{REPO_ROOT_WSL}}"

  - name: Install Visual Studio Code
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Microsoft.VisualStudioCode
      source: winget

  - name: Install Google Drive
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Google.GoogleDrive
      source: winget

  - name: Install Google Antigravity
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Google.Antigravity
      source: winget

  - name: Install Windows Terminal
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Microsoft.WindowsTerminal
      source: winget

  - name: Install Docker Desktop
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Docker.DockerDesktop
      source: winget

  - name: Install Git
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Git.Git
      source: winget

  - name: Install GitHub CLI
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: GitHub.cli
      source: winget

  - name: Install Notion
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Notion.Notion
      source: winget

  - name: Install Slack
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: SlackTechnologies.Slack
      source: winget

  - name: Install Discord
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Discord.Discord
      source: winget

  - name: Install Google Chrome
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Google.Chrome.EXE
      source: winget

  - name: Install Steam
    type: Microsoft.WinGet/Package
    module: Microsoft.WinGet.DSC
    properties:
      id: Valve.Steam
      source: winget

  - name: Manage Global WSL Settings (.wslconfig)
    type: PSDscResources/File
    module: PSDscResources
    properties:
      DestinationPath: "{{USER_PROFILE}}\\.wslconfig"
      Contents: |
        [wsl2]
        memory=8GB
        processors=4
        localhostForwarding=true
      Ensure: Present

  - name: WinGet Admin Settings
    type: Microsoft.WinGet/AdminSettings
    module: Microsoft.WinGet.DSC
    metadata:
      winget:
        securityContext: elevated
    properties:
      settings:
        LocalManifestFiles: false
        ProxyCommandLineOptions: false
        BypassCertificatePinningForMicrosoftStore: false
        InstallerHashOverride: false
        LocalArchiveMalwareScanOverride: false

  - name: Windows Personalization Settings
    type: Microsoft.Windows.Settings/WindowsSettings
    module: Microsoft.Windows.Settings
    metadata:
      winget:
        allowPrerelease: true
        securityContext: elevated
      description: Configure Core Windows UI/UX
    properties:
      AppColorMode: Dark
      SystemColorMode: Dark
      DeveloperMode: true
      TaskbarAlignment: Middle

  - name: Show Hidden Files in Explorer
    type: Microsoft.Windows/Registry
    module: Microsoft.Windows.DSC
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: Hidden
      valueData:
        DWord: 1

  - name: Show File Extensions in Explorer
    type: Microsoft.Windows/Registry
    module: Microsoft.Windows.DSC
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: HideFileExt
      valueData:
        DWord: 0
