$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2024/04/config/document.json
resources:
  - name: Install Windows Subsystem for Linux
    type: Microsoft.WinGet/Package
    properties:
      id: Microsoft.WSL
      source: winget

  - name: Install Ubuntu Linux Distribution
    type: Microsoft.WinGet/Package
    dependsOn:
      - "[Microsoft.WinGet/Package]Install Windows Subsystem for Linux"
    properties:
      id: Canonical.Ubuntu
      source: winget

  - name: Install Visual Studio Code
    type: Microsoft.WinGet/Package
    properties:
      id: Microsoft.VisualStudioCode
      source: winget

  - name: Install Google Drive
    type: Microsoft.WinGet/Package
    properties:
      id: Google.GoogleDrive
      source: winget

  - name: Install Google Antigravity
    type: Microsoft.WinGet/Package
    properties:
      id: Google.Antigravity
      source: winget

  - name: Install Windows Terminal
    type: Microsoft.WinGet/Package
    properties:
      id: Microsoft.WindowsTerminal
      source: winget

  - name: Manage Global WSL Settings (.wslconfig)
    type: PSDscResources/File
    properties:
      DestinationPath: C:\Users\jjr\.wslconfig
      Contents: |
        [wsl2]
        memory=8GB
        processors=4
        localhostForwarding=true
      Ensure: Present

  - name: WindowsSettings
    type: Microsoft.Windows.Settings/WindowsSettings
    metadata:
      allowPrerelease: true
      description: Configure Windows Settings
      securityContext: elevated
    properties:
      AppColorMode: Dark
      SystemColorMode: Dark
      DeveloperMode: true
      TaskbarAlignment: Center

  - name: Show Hidden Files in Explorer
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: Hidden
      valueData:
        DWord: 1

  - name: Show File Extensions in Explorer
    type: Microsoft.Windows/Registry
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: HideFileExt
      valueData:
        DWord: 0
